img {
	object-position: center;
	object-fit: none;
	overflow: hidden;
} 

.row {
	margin-bottom: 2rem;
	border-bottom: 1px solid #000;
}

.col {
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	margin: 0px 7.5px 0px 7.5px;
}

.container {
	max-width: 100%;
}

.jumbotron {
	background-image: url(images/jumbotron.jpg);
	background-size: cover;
	height: 600px;
}